# Edit Your Expectation Suite
Use this notebook to recreate and modify your expectation suite:

**Expectation Suite Name**: `first_data.csv.warning`

In [1]:
import datetime

import pandas as pd

import great_expectations as ge
import great_expectations.jupyter_ux
from great_expectations.core.batch import BatchRequest
from great_expectations.checkpoint import SimpleCheckpoint
from great_expectations.exceptions import DataContextError

context = ge.data_context.DataContext()

# Note that if you modify this batch request, you may save the new version as a .json file
#  to pass in later via the --batch-request option
batch_request = {
    "datasource_name": "first_data",
    "data_connector_name": "default_inferred_data_connector_name",
    "data_asset_name": "first_data.csv",
    "limit": 1000,
}


# Feel free to change the name of your suite here. Renaming this will not remove the other one.
expectation_suite_name = "first_data.csv.warning"
try:
    suite = context.get_expectation_suite(expectation_suite_name=expectation_suite_name)
    print(
        f'Loaded ExpectationSuite "{suite.expectation_suite_name}" containing {len(suite.expectations)} expectations.'
    )
except DataContextError:
    suite = context.create_expectation_suite(
        expectation_suite_name=expectation_suite_name
    )
    print(f'Created ExpectationSuite "{suite.expectation_suite_name}".')


validator = context.get_validator(
    batch_request=BatchRequest(**batch_request),
    expectation_suite_name=expectation_suite_name,
)
column_names = [f'"{column_name}"' for column_name in validator.columns()]
print(f"Columns: {', '.join(column_names)}.")
validator.head(n_rows=5, fetch_all=False)

2021-10-07T14:12:57-0500 - INFO - Great Expectations logging enabled at 20 level by JupyterUX module.
Loaded ExpectationSuite "first_data.csv.warning" containing 65 expectations.
Columns: "Unnamed: 0", "Daily Time Spent on Site", "Age", "Area Income", "Daily Internet Usage", "Ad Topic Line", "City", "Male", "Country", "Timestamp", "Clicked on Ad".

/home/khuyen/Data-science/venv/lib/python3.8/site-packages/great_expectations/jupyter_ux/__init__.py:15: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option("display.max_colwidth", -1)

,Unnamed: 0,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,0,80.67,34,58909.36,239.76,Seamless impactful info-mediaries,Jamesville,0,Portugal,2016-01-01 02:52:10,0
1,1,68.01,25,68357.96,188.32,Ameliorated actuating workforce,Kaylashire,1,Afghanistan,2016-01-01 03:35:35,0
2,2,80.94,36,60803.00,239.94,Self-enabling local strategy,North Tiffany,0,Bermuda,2016-01-01 05:31:22,0
3,3,78.77,28,63497.62,211.83,Public-key intangible Graphical User Interface,Gomezport,0,Guam,2016-01-01 08:27:06,0
4,4,36.56,29,42838.29,195.89,Team-oriented bi-directional secured line,West Ryan,0,Uganda,2016-01-01 15:14:24,1

## Create & Edit Expectations


Add expectations by calling specific expectation methods on the `validator` object. They all begin with `.expect_` which makes autocompleting easy using tab.

Because you selected interactive mode, you are now creating or editing an Expectation Suite with validator feedback from the sample batch of data that you specified (see `batch_request`).

Note that if you select manual mode you may still create or edit an Expectation Suite directly, without feedback from the `validator`. See our documentation for more info and examples: [How to create a new Expectation Suite without a sample batch](https://docs.greatexpectations.io/en/latest/guides/how_to_guides/creating_and_editing_expectations/how_to_create_a_new_expectation_suite_without_a_sample_batch.html).



You can see all the available expectations in the **[expectation glossary](https://docs.greatexpectations.io/en/latest/reference/glossary_of_expectations.html?utm_source=notebook&utm_medium=create_expectations)**.

### Table Expectation(s)

In [ ]:
validator.expect_table_columns_to_match_ordered_list(
    column_list=[
        "Unnamed: 0",
        "Daily Time Spent on Site",
        "Age",
        "Area Income",
        "Daily Internet Usage",
        "Ad Topic Line",
        "City",
        "Male",
        "Country",
        "Timestamp",
        "Clicked on Ad",
    ]
)

In [ ]:
validator.expect_table_row_count_to_be_between(max_value=610, min_value=610)

### Column Expectation(s)

#### `Daily Time Spent on Site`

In [ ]:
validator.expect_column_min_to_be_between(
    column="Daily Time Spent on Site", max_value=32.6, min_value=32.6
)

In [ ]:
validator.expect_column_max_to_be_between(
    column="Daily Time Spent on Site", max_value=91.37, min_value=91.37
)

In [ ]:
validator.expect_column_mean_to_be_between(
    column="Daily Time Spent on Site",
    max_value=65.26704918032787,
    min_value=65.26704918032787,
)

In [ ]:
validator.expect_column_median_to_be_between(
    column="Daily Time Spent on Site", max_value=68.33, min_value=68.33
)

In [ ]:
validator.expect_column_quantile_values_to_be_between(
    column="Daily Time Spent on Site",
    allow_relative_error="lower",
    quantile_ranges={
        "quantiles": [0.05, 0.25, 0.5, 0.75, 0.95],
        "value_ranges": [
            [37.47, 37.47],
            [51.5, 51.5],
            [68.25, 68.25],
            [78.51, 78.51],
            [87.09, 87.09],
        ],
    },
)

In [ ]:
validator.expect_column_values_to_not_be_null(column="Daily Time Spent on Site")

In [ ]:
validator.expect_column_proportion_of_unique_values_to_be_between(
    column="Daily Time Spent on Site",
    max_value=0.9344262295081968,
    min_value=0.9344262295081968,
)

In [ ]:
validator.expect_column_values_to_be_in_type_list(
    column="Daily Time Spent on Site",
    type_list=[
        "FLOAT",
        "FLOAT4",
        "FLOAT8",
        "FLOAT64",
        "DOUBLE",
        "DOUBLE_PRECISION",
        "NUMERIC",
        "FloatType",
        "DoubleType",
        "float_",
        "float16",
        "float32",
        "float64",
        "number",
        "DECIMAL",
        "REAL",
    ],
)

#### `Age`

In [ ]:
validator.expect_column_min_to_be_between(column="Age", max_value=19, min_value=19)

In [ ]:
validator.expect_column_max_to_be_between(column="Age", max_value=61, min_value=61)

In [ ]:
validator.expect_column_mean_to_be_between(
    column="Age", max_value=36.05081967213115, min_value=36.05081967213115
)

In [ ]:
validator.expect_column_median_to_be_between(
    column="Age", max_value=35.0, min_value=35.0
)

In [ ]:
validator.expect_column_quantile_values_to_be_between(
    column="Age",
    allow_relative_error="lower",
    quantile_ranges={
        "quantiles": [0.05, 0.25, 0.5, 0.75, 0.95],
        "value_ranges": [[23, 23], [29, 29], [35, 35], [42, 42], [52, 52]],
    },
)

In [ ]:
validator.expect_column_values_to_be_in_set(
    column="Age",
    value_set=[
        19,
        20,
        21,
        22,
        23,
        24,
        25,
        26,
        27,
        28,
        29,
        30,
        31,
        32,
        33,
        34,
        35,
        36,
        37,
        38,
        39,
        40,
        41,
        42,
        43,
        44,
        45,
        46,
        47,
        48,
        49,
        50,
        51,
        52,
        53,
        54,
        55,
        56,
        57,
        58,
        59,
        60,
        61,
    ],
)

In [ ]:
validator.expect_column_values_to_not_be_null(column="Age")

In [ ]:
validator.expect_column_proportion_of_unique_values_to_be_between(
    column="Age", max_value=0.07049180327868852, min_value=0.07049180327868852
)

In [ ]:
validator.expect_column_values_to_be_in_type_list(
    column="Age",
    type_list=[
        "INTEGER",
        "integer",
        "int",
        "int_",
        "int8",
        "int16",
        "int32",
        "int64",
        "uint8",
        "uint16",
        "uint32",
        "uint64",
        "INT",
        "INTEGER",
        "INT64",
        "TINYINT",
        "BYTEINT",
        "SMALLINT",
        "BIGINT",
        "IntegerType",
        "LongType",
    ],
)

#### `Area Income`

In [ ]:
validator.expect_column_min_to_be_between(
    column="Area Income", max_value=14548.06, min_value=14548.06
)

In [ ]:
validator.expect_column_max_to_be_between(
    column="Area Income", max_value=79484.8, min_value=79484.8
)

In [ ]:
validator.expect_column_mean_to_be_between(
    column="Area Income", max_value=55365.62095081966, min_value=55365.62095081966
)

In [ ]:
validator.expect_column_median_to_be_between(
    column="Area Income", max_value=57532.6, min_value=57532.6
)

In [ ]:
validator.expect_column_quantile_values_to_be_between(
    column="Area Income",
    allow_relative_error="lower",
    quantile_ranges={
        "quantiles": [0.05, 0.25, 0.5, 0.75, 0.95],
        "value_ranges": [
            [30487.48, 30487.48],
            [47682.28, 47682.28],
            [57519.64, 57519.64],
            [65044.59, 65044.59],
            [73538.09, 73538.09],
        ],
    },
)

In [ ]:
validator.expect_column_values_to_not_be_null(column="Area Income")

In [ ]:
validator.expect_column_proportion_of_unique_values_to_be_between(
    column="Area Income", max_value=1.0, min_value=1.0
)

In [ ]:
validator.expect_column_values_to_be_in_type_list(
    column="Area Income",
    type_list=[
        "FLOAT",
        "FLOAT4",
        "FLOAT8",
        "FLOAT64",
        "DOUBLE",
        "DOUBLE_PRECISION",
        "NUMERIC",
        "FloatType",
        "DoubleType",
        "float_",
        "float16",
        "float32",
        "float64",
        "number",
        "DECIMAL",
        "REAL",
    ],
)

#### `Daily Internet Usage`

In [ ]:
validator.expect_column_min_to_be_between(
    column="Daily Internet Usage", max_value=105.0, min_value=105.0
)

In [ ]:
validator.expect_column_max_to_be_between(
    column="Daily Internet Usage", max_value=269.96, min_value=269.96
)

In [ ]:
validator.expect_column_mean_to_be_between(
    column="Daily Internet Usage",
    max_value=179.4397868852459,
    min_value=179.4397868852459,
)

In [ ]:
validator.expect_column_median_to_be_between(
    column="Daily Internet Usage", max_value=183.035, min_value=183.035
)

In [ ]:
validator.expect_column_quantile_values_to_be_between(
    column="Daily Internet Usage",
    allow_relative_error="lower",
    quantile_ranges={
        "quantiles": [0.05, 0.25, 0.5, 0.75, 0.95],
        "value_ranges": [
            [113.75, 113.75],
            [137.2, 137.2],
            [182.65, 182.65],
            [217.68, 217.68],
            [245.89, 245.89],
        ],
    },
)

In [ ]:
validator.expect_column_values_to_not_be_null(column="Daily Internet Usage")

In [ ]:
validator.expect_column_proportion_of_unique_values_to_be_between(
    column="Daily Internet Usage",
    max_value=0.9704918032786886,
    min_value=0.9704918032786886,
)

In [ ]:
validator.expect_column_values_to_be_in_type_list(
    column="Daily Internet Usage",
    type_list=[
        "FLOAT",
        "FLOAT4",
        "FLOAT8",
        "FLOAT64",
        "DOUBLE",
        "DOUBLE_PRECISION",
        "NUMERIC",
        "FloatType",
        "DoubleType",
        "float_",
        "float16",
        "float32",
        "float64",
        "number",
        "DECIMAL",
        "REAL",
    ],
)

#### `Ad Topic Line`

In [ ]:
validator.expect_column_values_to_not_be_null(column="Ad Topic Line")

In [ ]:
validator.expect_column_proportion_of_unique_values_to_be_between(
    column="Ad Topic Line", max_value=1.0, min_value=1.0
)

In [ ]:
validator.expect_column_values_to_be_in_type_list(
    column="Ad Topic Line",
    type_list=[
        "CHAR",
        "NCHAR",
        "VARCHAR",
        "NVARCHAR",
        "TEXT",
        "NTEXT",
        "STRING",
        "StringType",
        "string",
        "str",
        "object",
        "dtype('O')",
    ],
)

#### `City`

In [ ]:
validator.expect_column_values_to_not_be_null(column="City")

In [ ]:
validator.expect_column_proportion_of_unique_values_to_be_between(
    column="City", max_value=0.9819672131147541, min_value=0.9819672131147541
)

In [ ]:
validator.expect_column_values_to_be_in_type_list(
    column="City",
    type_list=[
        "CHAR",
        "NCHAR",
        "VARCHAR",
        "NVARCHAR",
        "TEXT",
        "NTEXT",
        "STRING",
        "StringType",
        "string",
        "str",
        "object",
        "dtype('O')",
    ],
)

#### `Male`

In [ ]:
validator.expect_column_min_to_be_between(column="Male", max_value=0, min_value=0)

In [ ]:
validator.expect_column_max_to_be_between(column="Male", max_value=1, min_value=1)

In [ ]:
validator.expect_column_mean_to_be_between(
    column="Male", max_value=0.4852459016393443, min_value=0.4852459016393443
)

In [ ]:
validator.expect_column_median_to_be_between(
    column="Male", max_value=0.0, min_value=0.0
)

In [ ]:
validator.expect_column_quantile_values_to_be_between(
    column="Male",
    allow_relative_error="lower",
    quantile_ranges={
        "quantiles": [0.05, 0.25, 0.5, 0.75, 0.95],
        "value_ranges": [[0, 0], [0, 0], [0, 0], [1, 1], [1, 1]],
    },
)

In [ ]:
validator.expect_column_values_to_be_in_set(column="Male", value_set=[0, 1])

In [ ]:
validator.expect_column_values_to_not_be_null(column="Male")

In [ ]:
validator.expect_column_proportion_of_unique_values_to_be_between(
    column="Male", max_value=0.003278688524590164, min_value=0.003278688524590164
)

In [ ]:
validator.expect_column_values_to_be_in_type_list(
    column="Male",
    type_list=[
        "INTEGER",
        "integer",
        "int",
        "int_",
        "int8",
        "int16",
        "int32",
        "int64",
        "uint8",
        "uint16",
        "uint32",
        "uint64",
        "INT",
        "INTEGER",
        "INT64",
        "TINYINT",
        "BYTEINT",
        "SMALLINT",
        "BIGINT",
        "IntegerType",
        "LongType",
    ],
)

#### `Country`

In [ ]:
validator.expect_column_values_to_not_be_null(column="Country")

In [ ]:
validator.expect_column_proportion_of_unique_values_to_be_between(
    column="Country", max_value=0.3655737704918033, min_value=0.3655737704918033
)

In [ ]:
validator.expect_column_values_to_be_in_type_list(
    column="Country",
    type_list=[
        "CHAR",
        "NCHAR",
        "VARCHAR",
        "NVARCHAR",
        "TEXT",
        "NTEXT",
        "STRING",
        "StringType",
        "string",
        "str",
        "object",
        "dtype('O')",
    ],
)

#### `Timestamp`

In [ ]:
validator.expect_column_values_to_not_be_null(column="Timestamp")

In [ ]:
validator.expect_column_proportion_of_unique_values_to_be_between(
    column="Timestamp", max_value=1.0, min_value=1.0
)

In [ ]:
validator.expect_column_values_to_be_in_type_list(
    column="Timestamp",
    type_list=[
        "CHAR",
        "NCHAR",
        "VARCHAR",
        "NVARCHAR",
        "TEXT",
        "NTEXT",
        "STRING",
        "StringType",
        "string",
        "str",
        "object",
        "dtype('O')",
    ],
)

#### `Clicked on Ad`

In [ ]:
validator.expect_column_min_to_be_between(
    column="Clicked on Ad", max_value=0, min_value=0
)

In [ ]:
validator.expect_column_max_to_be_between(
    column="Clicked on Ad", max_value=1, min_value=1
)

In [ ]:
validator.expect_column_mean_to_be_between(
    column="Clicked on Ad", max_value=0.4918032786885246, min_value=0.4918032786885246
)

In [ ]:
validator.expect_column_median_to_be_between(
    column="Clicked on Ad", max_value=0.0, min_value=0.0
)

In [ ]:
validator.expect_column_quantile_values_to_be_between(
    column="Clicked on Ad",
    allow_relative_error="lower",
    quantile_ranges={
        "quantiles": [0.05, 0.25, 0.5, 0.75, 0.95],
        "value_ranges": [[0, 0], [0, 0], [0, 0], [1, 1], [1, 1]],
    },
)

In [ ]:
validator.expect_column_values_to_be_in_set(column="Clicked on Ad", value_set=[0, 1])

In [ ]:
validator.expect_column_values_to_not_be_null(column="Clicked on Ad")

In [ ]:
validator.expect_column_proportion_of_unique_values_to_be_between(
    column="Clicked on Ad",
    max_value=0.003278688524590164,
    min_value=0.003278688524590164,
)

In [ ]:
validator.expect_column_values_to_be_in_type_list(
    column="Clicked on Ad",
    type_list=[
        "INTEGER",
        "integer",
        "int",
        "int_",
        "int8",
        "int16",
        "int32",
        "int64",
        "uint8",
        "uint16",
        "uint32",
        "uint64",
        "INT",
        "INTEGER",
        "INT64",
        "TINYINT",
        "BYTEINT",
        "SMALLINT",
        "BIGINT",
        "IntegerType",
        "LongType",
    ],
)

## Save & Review Your Expectations

Let's save the expectation suite as a JSON file in the `great_expectations/expectations` directory of your project.

Let's now rebuild your Data Docs, which helps you communicate about your data with both machines and humans.

In [ ]:
print(validator.get_expectation_suite(discard_failed_expectations=False))
validator.save_expectation_suite(discard_failed_expectations=False)

checkpoint_config = {
    "class_name": "SimpleCheckpoint",
    "validations": [
        {
            "batch_request": batch_request,
            "expectation_suite_name": expectation_suite_name
        }
    ]
}
checkpoint = SimpleCheckpoint(
    f"_tmp_checkpoint_{expectation_suite_name}",
    context,
    **checkpoint_config
)
checkpoint_result = checkpoint.run()

context.build_data_docs()

validation_result_identifier = checkpoint_result.list_validation_result_identifiers()[0]
context.open_data_docs(resource_identifier=validation_result_identifier)