In [ ]:
!pip install sqlalchemy psycopg2-binary

In [1]:
import pandas as pd
from sqlalchemy import create_engine, engine

In [3]:
!wget https://raw.githubusercontent.com/mwaskom/seaborn-data/master/car_crashes.csv -O car_crashes.csv

--2022-06-11 10:29:20--  https://raw.githubusercontent.com/mwaskom/seaborn-data/master/car_crashes.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3301 (3.2K) [text/plain]
Saving to: ‘car_crashes.csv’

car_crashes.csv     100%[===================>]   3.22K  --.-KB/s    in 0s

2022-06-11 10:29:21 (16.9 MB/s) - ‘car_crashes.csv’ saved [3301/3301]

In [4]:
engine = create_engine('postgresql://postgres:123456@localhost:5432/pet_finder', )
engine.connect()

In [11]:
import pandas as pd  

df1 = pd.read_csv("data/raw/train.csv", index_col=0)
df2 = pd.read_csv("data/raw/test.csv", index_col=0)
df = pd.concat([df1, df2])

In [12]:
df.to_sql(name="pet", con=engine, index=False, if_exists="replace")

965

In [13]:
query = """
SELECT * FROM pet LIMIT 5
"""

In [14]:
pd.read_sql(query, con=engine)

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,2,Nibble,3,299,0,1,1,7,0,1,...,1,1,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2.0
1,2,No Name Yet,1,265,0,1,1,2,0,2,...,1,1,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0.0
2,1,Brisco,1,307,0,1,2,7,0,2,...,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3.0
3,1,Miko,4,307,0,2,1,2,0,2,...,1,1,150,41401,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2.0
4,1,Hunter,1,307,0,1,1,0,0,2,...,1,1,0,41326,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2.0